/*
  main color : #2DCA6D;
*/

body {
  font: 16px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

@font-face {
    font-family: Pacifico;
    src: url("../fonts/Pacifico.ttf");
}

h1 {
  font-size: 4rem
}

.container {
  margin: 40px auto;
}

.grey_text {
  color: #a1a1a1;
}

.header_icon_bg:hover, .social_icon_bg:hover {
  background-color: #2DCA6D;
  cursor: pointer;
}

/* HEADER */
#showcase {
  min-height: 700px;
  width: auto;
  background-image: url("../images/header_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-content: center;
}

#showcase_content {
  margin: auto 0 auto 400px;
  color: #ffffff;
}

#header_main {
  display: inline-flex;
  align-items: baseline;
}

.header_title {
  font-family: Pacifico;
  margin-top: 0;
}

.header_dot {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background-color: #2DCA6D;
  margin-left: 8px;
}

.slogan {
  margin-top: 20px;
  font-size: 18px;
}

.icon_list {
  display: inline-flex;
}

.header_icon_bg {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: #352319;
  text-align: center;
  padding-top: 9px;
  margin-right: 10px;
}

/* FEATURES*/
#features {
  text-align: center;
}

.section_header {
  margin: 20px 0;
}

#features .container{
  margin-bottom: 0;
}

#features .container p{
  margin-bottom: 40px;
}

/* GET NOTIFY */
#get_notify {
  background-color: #E3E3E3;
}

#get_notify .container {
  margin-top: 0;
  padding-top: 40px;
}

#get_notify h4 {
  margin-top: 0;
}

#get_notify form {
  display: inline-flex;
  margin: 20px 0;
}

.notify_btn {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #2DCA6D;
  padding: 8px 30px;
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 10px;
}

.notify_btn:hover {
  color: #ffffff;
}

#notify_email_input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 20px;
  height: 46px !important;
  padding-left: 18px;
}

#get_notify_img {
  margin-bottom: 40px;
}


/* TESTIMONIAL */
#testimonial {
  text-align: center;
}

#testimonial .blockquote {
  font-size: 18px;
}

.quote_author {
  font-weight: bold;
  font-size: 18px;
  margin: 20px auto;
}

/* SLIDER */
#myCarousel .item {
  height: 190px;
}
.carousel-indicators {
    margin: 0 auto;
    width: 100%;
    left: 40%;
}

.carousel-indicators .active {
    width: 40px;
    height: 40px;

}

.carousel-indicators img {
    border: none;
    height: 40px;
    width: 40px;
}
.carousel-indicators li {
    height: 40px;
    width: 40px;
}
.carousel-indicators .active img {
    border: 2px solid #2DCA6D;
}


.header_get_in_touch {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

#social_icons {
  margin-top: 20px;
}

#social_icons ul {
  list-style: none;
}

.social_icon_bg {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  background-color: #E3E3E3;
  text-align: center;
  padding-top: 5px;
  margin-right: 10px;
}



/* FOOTER */
footer {
  background-color: #E3E3E3;
  text-align: center;
  padding: 40px 0;
}

footer ul {
  list-style: none;
  margin-bottom: 0;
}

footer li {
  display: inline;
  font-size: 18px;
  margin: 0 20px;
  line-height: 2;
}

footer a {
  color: #a1a1a1;
}

footer a:hover {
  color: #2DCA6D;
  text-decoration: none;
}


@media (max-width: 568px) {
  #showcase {
    min-height: 150px;
  }

  #showcase_content {
    margin: auto 0 auto 30px;
  }

  h1 {
    font-size: 2.2rem
  }

  #header_main {
    padding-top: 5px;
  }

  .slogan {
    margin-top: 0;
    font-weight: bold;
    font-size: 13px;
  }

  .header_icon_bg {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: #352319;
    text-align: center;
    padding-top: 3px;
    margin-right: 5px;
  }

  .icon_list img {
    width: auto;
    height: 55%;
  }

  #get_notify form {
    display: block;
  }

  .notify_btn {
    border-radius: 5px;
    padding: 8px 30px;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 10px;
    width: 100%;
  }

  #notify_email_input {
    border-radius:5px;
    font-size: 20px;
    height: 46px !important;
    padding-left: 18px;
    margin-bottom: 10px;
  }

  #myCarousel .item {
    height: 220px;
  }

  footer ul {
    margin: 0;
    padding: 0;
  }

  footer li {
    display: block;
    font-size: 18px;
    margin: 0;
    line-height: 2;
  }
}
